/* Base layout */
body{font-family:'Lato',Arial,Helvetica,sans-serif;font-size:13px;background:#f8f8f8}
body#exhibit{background: #eee7df}
.row{max-width:100%;width:1280px;}

/* Site-wide top bar */
.top-bar {background: #222;height: 45px;line-height: 45px;margin: 0 0 30px;padding: 0;width: 100%;position: relative;}
#site-header #site-title{margin:0;color:#ddd3bf;}
#site-header #site-title a{font-size:20px;padding:10px 20px;height:auto;line-height: normal;margin: 0px;}
#home #site-header #site-title{display: none;}

/* Site title */
#exhibit-title-wrapper a{font-family: 'Trykker',serif;color:#333;font-size: 36px;}

/* Omeka main page */
#site-title-wrapper #site-title{font-size:44px;line-height:48px;margin:0 0 30px;font-weight:normal;}
#home h2{font-size:27px;}
#home h3{font-size:15px;margin-bottom: 25px}
#recent-items .row{min-height: 265px;}
#recent-items .item-title{display: block;padding:4px;}

/* Exhibit header */
#exhibit-header{margin-bottom: 12px}
#exhibit-header #search-form{margin-top:8px;}
#exhibit-title-wrapper{margin-top: 0;}

/* CSS for the .gallery-full-left layout */
.show #exhibit-title-wrapper{font-size:28px;margin-top: 0;}
.gallery-full-left .primary,
.gallery-full-left .secondary {float:left;width:49%;overflow:hidden;zoom:1;}
.gallery-full-left .secondary {float:right;width:42%;margin-top:4px;}
.gallery-full-left .gallery .exhibit-item {float:left;margin-right:2%;width: 48%;}
.gallery-full-left .exhibit-item {margin-bottom:2%;}
.gallery-full-left .exhibit-item img {max-width: 100%;}

/* Exhibit home page */
#exhibit-pages h3{font-size:14px; font-weight:normal;}
div.orbit {border:7px solid #f8f8f8;width:600px !important;margin:0 auto;}
div.orbit-wrapper div.slider-nav span.right {background: url('/themes/atwood/images/orbit/right-arrow.png');background-size: 100%;right: 0;}
div.orbit-wrapper div.slider-nav span.left {background: url('/themes/atwood/images/orbit/left-arrow.png');background-size: 100%;right: 0;}

/* Menu listing exhibit pages */
#exhibit-pages a{font-family: 'Montserrat';font-size:16px}

/* Admin bar */
#admin-bar{height:40px;}
